@charset "utf-8";

/* reset */
* {margin: 0 auto; padding: 0; background-color: #fff; color: #333333;}
a {display: block; text-decoration: none;}
li {list-style: none;}
#wrap {width: 100%;}

/* header */
#header {position: relative; width: 100%; height: 100px;}
.logo {float: left; width: 200px; height: 100px;}
.logo img {width: 200px; height: 40px; margin-top: 30px;}
.menu {position: absolute; z-index: 5; float: right; bottom: 0; right: 20px;height: 40px;}
.menu li {float: left; width: 150px; height: 40px; text-align: center; line-height: 40px;}
.menu a:hover {background-color: #00c73c; color: #fff;}
.submenu {display: none;}
.submenu li {height: 30px; line-height: 30px; font-size: 14px;}
.subbox {display: none; position: absolute; z-index: 1; top: 100px; width: 100%; height: 150px; background-color: rgba(0,0,0,0.7);}

/* slide */
#slide {width: 1200px; height: 300px; background: #666;}
.imglist {position: relative; width: 1200px; height: 300px;}
.imglist li {position: absolute; top: 0; left: 0; width: 1200px; height: 300px;}
.imglist h3 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; height: 50px; text-align: center; line-height: 50px; background-color: rgba(0,0,0,0.7); color: #fff; font-weight: bold;}

/* contents */
#contents {width: 1200px; height: 200px;}
.con1 {float: left; width: 400px; height: 200px;}
.con2 {float: left; width: 400px; height: 200px;}
.con3 {float: left; width: 400px; height: 200px;}

/* footer */
#footer {width: 100%; height: 100px;}
.copyright {float: left; width: 200px;}
.bt-wrap {float: right; height: 100px;}
.sns {height: 50px;}
.site {height: 50px;}
