@charset "utf-8";

/* reset */
* {margin: 0 auto; padding: 0; color: #333; background-color: #f2f2f2;}
a {text-decoration: none; display: block;}
li {list-style: none;}
.clearfix::after, .clearfix::before {display: block; content:''; clear: both;}

/* header */
#header {position: relative; width: 1200px; background: #ff5050;}
.logo {float: left; width: 200px; height: 100px; background: #ff5050;}
.logo img {width: 200px; height: 40px; margin-top: 30px; background: #ff5050;}
.logo a {background: #ff5050;}
.menu {position: absolute; z-index: 10; top: 60px; right: 10px; width: 600px; height: 40px; background: #ff5050;}
.menu li {float: left; width: 150px; height: 40px; }
.menu li a {display: block; width: 150px; height: 40px; line-height: 40px; text-align: center; background: #ffc000;}
.menu li a:hover {background: #5b9bd5; color: #fff;}
.submenu {display: none;}
.submenu li {height: 30px; line-height: 30px;}
.submenu li a {height: 30px; line-height: 30px; background: #ffc000;}
.subbox {display: none; position: absolute; top : 100px; left : 0; background-color: rgba(0,0,0,0.7); z-index: 5; width: 1200px; height: 100px;}

/* modal */
#modal {position: absolute; z-index: 999; width: 100%; height: 100%; background: rgba(0,0,0,0.7); display: none;}
.popup {position: absolute; width: 500px; height: 200px; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.popup h2 {background: #aaa; padding: 10px;}
.popup span {display: block; padding: 10px; }
.popup input {position: absolute; right: 10px; bottom: 10px; width: 50px; height: 30px; line-height: 30px; cursor: pointer;}

/* slide */
#slide {width: 1200px; height: 300px;}
.slidelist {position: relative; width: 1200px; height: 300px;}
.slidelist li {position: absolute; top: 0; left: 0;}
.slidelist h2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 350px; height: 80px; text-align: center; line-height: 80px; color: #fff; background: rgba(0,0,0,0.5);}

/* contents */
#contents {width: 1200px; height: 200px;}
.con1 {float: left; width: 380px; height: 180px; padding: 10px;}
.btn {margin : 0; width: 150px; height: 40px; text-align: center; line-height : 40px; border: 1px solid #ccc; border-bottom : 0;}
.notice {border : 1px solid #ccc;}
.notice li {width : 378px; height: 35px;}
.notice li div {float : left; width : 238px; height: 35px; padding-left : 10px; line-height: 35px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.notice span {float : right; width : 120px; height: 35px; text-align: right; padding-right : 10px; line-height: 35px;}
.notice div:hover {text-decoration: underline;}
.con2 {float: left; width: 380px; height: 180px; padding: 10px;}
.gallery {border : 1px solid #ccc; width: 378px; height: 138px;}
.gallery li {float : left; width : 100px; height: 100px; margin: 10px 0 10px 20px; text-align: center;}
.gallery img {display: block; width: 90px;}
.gallery img:hover {opacity: 0.5;}
.con3 {position: relative; float: left; width: 380px; height: 180px; padding: 10px;}
.con3 img {width: 380px; height: 180px;}
.con3 img:hover {opacity: 0.5;}
.con3 h2 {position: absolute; width : 150px; height : 40px; text-align: center; line-height: 40px; top: 50%; left : 50%; transform: translate(-50%, -50%); background-color: rgba(0,0,0,0.7);; color : #fff;}

/* footer */
#footer {width: 1200px;}
.bt-wrap {float: left; width: 1000px; height: 100px;}
.bt-menu {width: 1000px; height: 50px;}
.bt-menu li {float: left; width: 100px; height: 50px; line-height: 50px; margin-right: 10px; text-align: center;}
.bt-menu a:hover {text-decoration: underline;}
.copyright {width: 1000px; height: 50px;}
.copyright h3 {width: 1000px; height: 50px; text-align: center; line-height: 50px;}
.site {float: right; width: 200px; height: 100px; text-align: center; line-height: 100px;}
