@charset "utf-8";

/* reset */
* {margin: 0 auto; padding: 0; color: #333333;}
a {text-decoration: none;}
li {list-style: none;}
#wrap {width: 1200px;}
.clearfix::after, .clearfix::before {display: block; content: ''; clear: both;}

/* header */
#header {width: 1200px;}
.logo {float: left; width: 240px; height: 100px;}
.logo img {margin: 30px 20px 30px 20px;}

.menu {position: relative; float: right; width: 600px; height: 40px; margin-top: 30px; margin-right: 20px;}
.menu li {float: left; width: 150px; height: 40px; background: #ffffff;}
.menu li a {display: block; text-align: center; line-height: 40px; font-weight: bold;}
.menu li a:hover {background: #30a3f3;}
.submenu {display: none;}


/* slide */
#slide {width: 1200px; height: 300px;}
.imglist {position: relative;}
.imglist li {position: absolute;}
.imglist h2 {position: absolute; z-index: 2; width: 400px; height: 100px; left: 50%; top: 50%; transform: translate(-50%, -50%); background: rgba(1,1,1,0.5); color: #dddddd; text-align: center; line-height: 100px;}
.imglist li:nth-child(2) {display: none;}
.imglist li:nth-child(3) {display: none;}


/* contents */
#contents {width: 1200px;}
.notice {float: left; width: 400px; height: 200px;}
.banner {float: left; width: 400px; height: 200px;}
.shortcut {float: left; width: 400px; height: 200px;}

/* footer */
#footer {width: 1200px;}
.btlogo {float: left; width: 200px; height: 100px;}
.btwrap {float: left; width: 1000px; height: 100px;}
.btmenu {width: 1200px; height: 50px;}
.copyright {width: 1200px; height: 50px;}

